* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  background-color: #ddd;
}

.swipe {
  position: relative;
  width: 400px;
  overflow: hidden;
  margin: 50px auto;
}

.swipe .imgs {
  position: relative;
  height: 250px;
  transition: all .5s ease;
}

.swipe .imgs .item {
  position: absolute;
  width: 400px;
  height: 100%;
  overflow: hidden;
}

.swipe .imgs .item img {
  width: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.swipe .controls .prev {
  position: absolute;
  top: 40%;
  left: 0;
  height: 60px;
  width: 40px;
  background-color: #777;
  color: #fff;
  border: none;
  cursor: pointer;
}

.swipe .controls .next {
  position: absolute;
  top: 40%;
  right: 0;
  height: 60px;
  width: 40px;
  background-color: #777;
  color: #fff;
  border: none;
  cursor: pointer;
}

.swipe .indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  display: flex;
  justify-content: center;
}

.swipe .indicator .item {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  background-color: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.swipe .indicator .item.active {
  background-color: red;
}

.swipe .indicator .item:hover {
  background-color: red;
}